@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>WebSphere Innovations</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div id="loading"></div>
        <div class="container d-flex align-items-center justify-content-lg-between">
            <!-- <h1 class="logo me-auto me-lg-0" style="font-family: inherit;"><a href="index.php">WebSphere Innovations<span></span></a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="index.php" class="logo me-auto me-lg-0"><img src="img\LOGO.png" alt="" class="img-fluid"><small style="color: white;">WebSphere Innovations</small></a>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto">Home</a></li>
                    <li><a class="nav-link scrollto">About Us</a></li>
                    <!-- <li><a class="nav-link s" href="contact_us.php">Servies</a></li> -->
                    <li>
                        <a class="nav-link scrollto">Services</a>

                    </li>
                    <li class="dropdown">
                        <a><span>Products</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a>Retail Softwares</a></li>
                            <li><a>Distribution Softwares</a></li>
                            <li><a>Manufacturing Softwares</a></li>
                            <li><a>ERP Corporate Solution</a></li>
                            <li><a>Sales Force Automation</a></li>

                        </ul>
                    </li>
                    <!-- <li><a class="nav-link s" href="product.php">Products</a></li> -->
                    <!-- <li><a class="nav-link s" href="portfolio.php">Portfolio</a></li> -->
                    <li><a class="nav-link s">Proposal</a></li>
                    <li><a class="nav-link s">Contact Us</a></li>
                    <li><a class="nav-link s">Career</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->
            <!-- <a href="#about" class="get-started-btn scrollto active">Get Started</a> -->

        </div>
    </header>
    <!-- End Header -->

</body>

<script>
    'undefined' === typeof _trfq || (window._trfq = []);
    'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({
        'tccl.baseHost': 'secureserver.net'
    }, {
        'ap': 'cpbh-mt'
    }, {
        'server': 'sg2plmcpnl485221'
    }, {
        'dcenter': 'sg2'
    }, {
        'cp_id': '8247606'
    }, {
        'cp_cache': ''
    }, {
        'cp_cl': '8'
    }) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.
</script>
<script src='https://img1.wsimg.com/traffic-assets/js/tccl.min.js'></script>

</html>


<!-- ======= Hero Section ======= -->

<section id="hero" class="d-flex align-items-center justify-content-center">

    <div class="container" data-aos="fade-up">



        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">

            <div class="col-xl-6 col-lg-8">

                <h1>WebSphere Innovations<span></span></h1>

                <h2>We Create, Design and Make it Real</h2>

            </div>

        </div>



        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">

            <div class="col-xl-2 col-md-4">

                <div class="icon-box">

                    <i class="ri-tv-fill "></i>

                    <h3><a href="#">ERP Solutions</a></h3>

                </div>

            </div>



            <div class="col-xl-2 col-md-4">

                <div class="icon-box">

                    <i class="ri-git-branch-fill"></i>

                    <h3><a href="#">Web Development </a></h3>

                </div>

            </div>

            <div class="col-xl-2 col-md-4">

                <div class="icon-box">

                    <i class=" ri-cellphone-line "></i>

                    <h3><a href="#">Mobile Applications</a></h3>

                </div>

            </div>

            <div class="col-xl-2 col-md-4">

                <div class="icon-box">

                    <i class=" ri-wallet-2-line "></i>

                    <h3><a href="#">eCommerce Solutions</a></h3>

                </div>

            </div>

            <div class="col-xl-2 col-md-4">

                <div class="icon-box">

                    <i class=" ri-ie-line"></i>

                    <h3><a href="#">Digital Marketing</a></h3>

                </div>

            </div>

            <div class="col-xl-2 col-md-4">

                <div class="icon-box">

                    <i class=" ri-bank-card-2-fill "></i>

                    <h3><a href="#">Back Office Servies</a></h3>

                </div>

            </div>





        </div>

    </div>

</section>
<!-- End Hero -->



<main id="main">

    <!-- ======= About Section ======= -->

    <section id="about" class="about mt-3 bg-light">

        <div class="container" data-aos="fade-up">

            <center>

                <div class="section-title">

                    <h2>About US</h2>

                    <p>About Us</p>

                </div>

            </center>





            <div class="row">

                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">

                    <img src="assets/img/about.jpg" class="img-fluid" alt="">

                </div>

                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">

                    <br>

                    <h3 class="section-title" data-aos="fade-up">Our company information</h3>

                    <!-- <h3 class="section-title" data-aos="fade-up">We Create, Design and Make it Real</h3> -->

                    <p class="fst-bold">

                        <big>

                            <h3> <b style="color: #ffc451;"> We Create,</b>Design and Make it Real</h3>

                        </big><br> WebSphere Innovations has proved its excellence in the field of web design & web development and today it has successfully established itself as one of the best and most reliable offshore ecommerce web site design
                        & development, software designing company where you can outsource your services for affordable prices. <br> WebSphere Innovations has excellent professional expertise to present you effectively to the current and potential web audience.

                    </p>

                </div>

            </div>

        </div>

    </section>
    <!-- End About Section -->
    <!-- =======What We Do ======= -->

    <section id="services" class="services">

        <div class="container" data-aos="fade-up">



            <center>

                <div class="section-title">

                    <h2>What We Do</h2>

                    <p>What We Do</p>

                </div>

            </center>



            <div class="row">

                <div class="col-lg-4 col-md-6 " data-aos="zoom-in" data-aos-delay="100">

                    <div class="icon-box">

                        <div class="icon"><i class="bx bx-desktop"></i></div>

                        <h4><a href="">Desktop Application</a></h4>

                        <p>Our desktop application development skills can become your ground for building the application which will delight your customers with the rich functionality, speed of work and user-friendly interface.</p>

                    </div>

                </div>



                <div class="col-lg-4 col-md-6  mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">

                    <div class="icon-box">

                        <div class="icon"><i class='bx bx-world'></i></div>

                        <h4><a href="">Web Application</a></h4>

                        <p>Responsive Web Design influences your web to page look great on all gadgets (work areas, tablets, and telephones). Responsive Web Design is tied in with utilizing HTML and CSS to resize, conceal, shrivel.. </p>

                    </div>

                </div>



                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">

                    <div class="icon-box">

                        <div class="icon">
                            <i class='bx bx-mobile'></i></i>
                        </div>

                        <h4><a href="">Mobile Application</a></h4>

                        <p>WebSphere Innovations is one of the leading Mobile application development companies in  India. Our company develops custom anroid applications and ios applications across a wide range of technology. </p>

                    </div>

                </div>



                <div class="col-lg-4 col-md-6  mt-4" data-aos="zoom-in" data-aos-delay="100">

                    <div class="icon-box">

                        <div class="icon"><i class='bx bxs-brain'></i></div>

                        <h4><a href="">Custom Software Solution</a></h4>

                        <p>
                            WebSphere Innovations has provided a wide array of "innovative e-business solutions and services including Web solutions, custom software/Web applications development and business process automation tools to "empower businesses across the
                            globe.
                        </p>

                    </div>

                </div>



                <div class="col-lg-4 col-md-6  mt-4" data-aos="zoom-in" data-aos-delay="200">

                    <div class="icon-box">

                        <div class="icon"><i class='bx bxl-internet-explorer'></i></div>

                        <h4><a href="">B2B & B2C Portal Development</a></h4>

                        <p>WebSphere Innovations blends strategy, technology and creativity to provide a full range of portal development solutions and services which will meet organization-specific requirements and help you corner success at the e-marketplace.</p>

                    </div>

                </div>



                <div class="col-lg-4 col-md-6  mt-4" data-aos="zoom-in" data-aos-delay="300">

                    <div class="icon-box">

                        <div class="icon"><i class='bx bxs-ghost'></i></div>

                        <h4><a href="">Logo & Banner Design</a></h4>

                        <p>Logo design means to make an identity of your website whether for selling or for giving information for the visitors. Logo is all about your company present and future. </p>

                    </div>

                </div>



            </div>



        </div>

    </section>

    <!-- End Services Section -->
    <!-- ======= Why Clients Choose Us======= -->

    <section id="features" class="features mt-3 bg-light">

        <div class="container" data-aos="fade-up">

            <center>

                <div class="section-title">

                    <h2>Why Clients Choose Us</h2>

                    <p>Why Clients Choose Us</p>

                </div>

            </center>

            <center>

                <p class="fst-bold">We provide high quality software development services for our clients across <br> a wide range of technologies, supported by testing, design, user experience <br> and managed services.</p>

            </center>

            <div class="row">

                <div class="image col-lg-6" style='background-image: url("assets/img/features.jpg");' data-aos="fade-right"></div>

                <div class="col-lg-3" data-aos="fade-left" data-aos-delay="100">

                    <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">

                        <i class="bx bx-heart-square"></i>

                        <h4>EXCELLENT SUPPORT </h4>

                        <p>We specialize in support for all our services without taking too much time.</p>

                    </div>

                    <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">

                        <i class="bx bx-check"></i>

                        <h4>QUALITATIVE WORK</h4>

                        <p>We specialize in design-led brand communication and digital innovation.</p>

                    </div>

                    <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">

                        <i class="bx bx-coin-stack"></i>

                        <h4>UPDATED TECHNOLOGIES</h4>

                        <p>We specialize in using updated technology that get you different from competitor.</p>

                    </div>



                </div>

                <div class="col-lg-3" data-aos="fade-left" data-aos-delay="100">

                    <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">

                        <i class="bx bx-health"></i>

                        <h4>OUR EXPERTISE</h4>

                        <p>Passion for innovation and desperation for excellence are our core expertise.</p>

                    </div>

                    <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">

                        <i class="bx bx-cube-alt"></i>

                        <h4>24 X 7 SUPPORT & AVAILABLITY</h4>

                        <p>Driven by passion, our support team delivers unlimited support for 24/7/365</p>

                    </div>

                    <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">

                        <i class="bx bx-droplet"></i>

                        <h4>AFFORDABLE PRICING </h4>

                        <p>We specialize in caring our client's money and help them to get best.</p>

                    </div>



                </div>

            </div>



        </div>

    </section>

    <!-- End Why Clients Choose Us-->
    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials">

        <div class="container" data-aos="zoom-in">



            <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper-wrapper">



                    <div class="swiper-slide">

                        <div class="testimonial-item"> -->
    <!-- <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""> -->
    <!-- <h3>MR. Dipesh Agrawal</h3>

            <h4>Posh Enterprises</h4>

            <p>

                <i class="bx bxs-quote-alt-left quote-icon-left"></i> WebSphere Innovations is a very nice company to work with. I had to design a website within 3 days and these guys delivered it without any hassels. Affordable rates and good quality.
                Keep it up guys.

                <i class="bx bxs-quote-alt-right quote-icon-right"></i>

            </p>

        </div>

    </div>



    <div class="swiper-slide">

        <div class="testimonial-item"> -->
    <!-- <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt=""> -->
    <!-- <h3>Mr. Pavan Agrawal</h3>

            <h4>Fundore</h4>

            <p>

                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Working with them has been really amazing.. I mean excellent graphic works with no time lags.. Wonderful people to work with and that too economic.. They deserve more
                than 5 stars.

                <i class="bx bxs-quote-alt-right quote-icon-right"></i>

            </p>

        </div>

    </div> -->
    <!--

    <div class="swiper-slide">

      <div class="testimonial-item">

        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">

        <h3>Mr. Kunal</h3>

        <h4>Aasha Garments</h4>

        <p>

          <i class="bx bxs-quote-alt-left quote-icon-left"></i>

          I am really happy with your service, it is exceptional, Advantage Advertising is just great. When I have a question they answer it at once, they have more than an outstanding customer service.

          <i class="bx bxs-quote-alt-right quote-icon-right"></i>

        </p>

      </div>

    </div> -->
    <!-- <div class="swiper-slide">

        <div class="testimonial-item"> -->
    <!-- <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt=""> -->
    <!-- <h3>Mr. Paras Jain</h3>

                            <h4>Om Garments</h4>

                            <p>

                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> My experience with WebSphere Innovations has been very positive. They have matched 100% success in our expectations. They provide good, fast and efficient work.

                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>

                            </p>

                        </div>

                    </div>

                </div>

                <div class="swiper-pagination"></div>

            </div>



        </div>

    </section> -->
    <!-- End Testimonials Section -->
    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients">

        <div class="container" data-aos="zoom-in">



            <div class="clients-slider swiper-container">

                <div class="swiper-wrapper align-items-center">

                    <div class="swiper-slide"><img src="images/client11.jpg" class="img-fluid" alt=""></div>

                    <div class="swiper-slide"><img src="images/client3.jpg" class="img-fluid" alt=""></div>

                    <div class="swiper-slide"><img src="images/client7.png" class="img-fluid" alt=""></div>

                    <div class="swiper-slide"><img src="images/client8.png" class="img-fluid" alt=""></div>

                    <div class="swiper-slide"><img src="images/client6.jpg" class="img-fluid" alt=""></div>

                    <div class="swiper-slide"><img src="images/client9.jpg" class="img-fluid" alt=""></div>

                    <div class="swiper-slide"><img src="images/client10.jpg" class="img-fluid" alt=""></div> -->
    <!-- <div class="swiper-slide"><img src="assets/img/clients/client8.png" class="img-fluid" alt=""></div>

    <div class="swiper-slide"><img src="assets/img/clients/client8.png" class="img-fluid" alt=""></div>

    <div class="swiper-slide"><img src="assets/img/clients/client8.png" class="img-fluid" alt=""></div> -->
    <!-- </div>

                <div class="swiper-pagination"></div>

            </div>



        </div>

    </section> -->
    <!-- End Clients Section -->
    <!-- ====== Cta Section ======= -->

    <section id="cta" class="cta">

        <div class="container" data-aos="zoom-in">



            <div class="text-center">


                <!-- <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->


            </div>



        </div>

    </section>

    <!-- End Cta Section -->
    <!-- ======= Portfolio Section ======= -->
    <!-- <section id="portfolio" class="portfolio">

      <div class="container" data-aos="fade-up">



        <center>

          <div class="section-title">

            <h2>Portfolio</h2>

            <p>Check our Portfolio</p>

          </div>

        </center>





        <div class="portfolio-links">

          <a href="vodandott.php" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"></a>

          <a href="vodandott.php" title="More Details"><i class="bx bx-link"></i></a>

        </div>

      </div>



      <div class="col-lg-4 col-md-6 portfolio-item filter-web">

        <div class="portfolio-wrap">

          <img src="assets/img/portfolio/port1.jpg" class="img-fluid" alt="">

          <div class="portfolio-info">

            <h4>Healthcare systems</h4>



            <div class="portfolio-links">

              <a href="healthcare.php" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"></a>

              <a href="healthcare.php" title="More Details"><i class="bx bx-link"></i></a>

            </div>

          </div>

        </div>

      </div>



      <div class="col-lg-4 col-md-6 portfolio-item filter-app">

        <div class="portfolio-wrap">

          <img src="assets/img/portfolio/port2.jpg" class="img-fluid" alt="">

          <div class="portfolio-info">

            <h4>Travel Portal & Solutions</h4>



            <div class="portfolio-links">

              <a href="travel_portal_&_solutions.php" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"></a>

              <a href="travel_portal_&_solutions.php" title="More Details"><i class="bx bx-link"></i></a>

            </div>

          </div>

        </div>

      </div>







      <div class="col-lg-4 col-md-6 portfolio-item filter-web">

        <div class="portfolio-wrap">

          <img src="assets/img/portfolio/port8.jpg" class="img-fluid" alt="">

          <div class="portfolio-info">

            <h4>IoT & M2M Solutions</h4>



            <div class="portfolio-links">

              <a href="iot.php" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"></a>

              <a href="iot.php" title="More Details"><i class="bx bx-link"></i></a>

            </div>

          </div>

        </div>

      </div>



      <div class="col-lg-4 col-md-6 portfolio-item filter-web">

        <div class="portfolio-wrap">

          <img src="assets/img/portfolio/port5.jpg" class="img-fluid" alt="">

          <div class="portfolio-info">

            <h4>Audio & Music Apps</h4>



            <div class="portfolio-links">

              <a href="travel_portal_&_solutions.php" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"></a>

              <a href="travel_portal_&_solutions.php" title="More Details"><i class="bx bx-link"></i></a>

            </div>

          </div>

        </div>

      </div>



      <div class="col-lg-4 col-md-6 portfolio-item filter-app">

        <div class="portfolio-wrap">

          <img src="assets/img/portfolio/port9.jpg" class="img-fluid" alt="">

          <div class="portfolio-info">

            <h4>Personal Finance & Management Apps</h4>



            <div class="portfolio-links">

              <a href="personal_finance.php" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"></a>

              <a href="personal_finance.php" title="More Details"><i class="bx bx-link"></i></a>

            </div>

          </div>

        </div>

      </div>



      <div class="col-lg-4 col-md-6 portfolio-item filter-card">

        <div class="portfolio-wrap">

          <img src="assets/img/portfolio/port6.jpg" class="img-fluid" alt="">

          <div class="portfolio-info">

            <h4>Social Media & Sharing Apps</h4>



            <div class="portfolio-links">

              <a href="socialmediaapp.php" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"></a>

              <a href="socialmediaapp.php" title="More Details"><i class="bx bx-link"></i></a>

            </div>

          </div>

        </div>

      </div>

      </div>

      </div>

    </section> -->
    <!-- End Portfolio Section -->
    <!-- ======= Counts Section ======= -->
    <!-- <section id="counts" class="counts">

      <div class="container" data-aos="fade-up">



        <div class="row no-gutters">

          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>

          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">

            <div class="content d-flex flex-column justify-content-center">

              <h3>Voluptatem dignissimos provident quasi</h3>

              <p>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit

              </p>

              <div class="row">

                <div class="col-md-6 d-md-flex align-items-md-stretch">

                  <div class="count-box">

                    <i class="bi bi-emoji-smile"></i>

                    <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2" class="purecounter"></span>

                    <p><strong>Happy Clients</strong> consequuntur voluptas nostrum aliquid ipsam architecto ut.</p>

                  </div>

                </div>



                <div class="col-md-6 d-md-flex align-items-md-stretch">

                  <div class="count-box">

                    <i class="bi bi-journal-richtext"></i>

                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="2" class="purecounter"></span>

                    <p><strong>Projects</strong> adipisci atque cum quia aspernatur totam laudantium et quia dere tan</p>

                  </div>

                </div>



                <div class="col-md-6 d-md-flex align-items-md-stretch">

                  <div class="count-box">

                    <i class="bi bi-clock"></i>

                    <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="4" class="purecounter"></span>

                    <p><strong>Years of experience</strong> aut commodi quaerat modi aliquam nam ducimus aut voluptate non vel</p>

                  </div>

                </div>



                <div class="col-md-6 d-md-flex align-items-md-stretch">

                  <div class="count-box">

                    <i class="bi bi-award"></i>

                    <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="4" class="purecounter"></span>

                    <p><strong>Awards</strong> rerum asperiores dolor alias quo reprehenderit eum et nemo pad der</p>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>



      </div>

    </section> -->
    <!-- End Counts Section -->
    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="team">

      <div class="container" data-aos="fade-up">



        <center>

          <div class="section-title">

            <h2>Team</h2>

            <p>Check our Team</p>

          </div>

        </center>



        <div class="custom-container ">

          <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">

              <div class="member" data-aos="fade-up" data-aos-delay="100">

                <div class="member-img">

                  <img src="assets/img/team/pranaysir.jpg" class="img-fluid" alt="">

                  <div class="social">

                    <a href=""><i class="bi bi-twitter"></i></a>

                    <a href=""><i class="bi bi-facebook"></i></a>

                    <a href=""><i class="bi bi-instagram"></i></a>

                    <a href=""><i class="bi bi-linkedin"></i></a>

                  </div>

                </div>

                <div class="member-info">

                  <h4>Mr. Pranay Gupta</h4>

                  <span>Founder & IT Head</span>

                </div>

              </div>

            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">

              <div class="member" data-aos="fade-up" data-aos-delay="100">

                <div class="member-img">

                  <img src="assets/img/team/avatar_user.png" class="img-fluid" alt="">

                  <div class="social">

                    <a href=""><i class="bi bi-twitter"></i></a>

                    <a href=""><i class="bi bi-facebook"></i></a>

                    <a href=""><i class="bi bi-instagram"></i></a>

                    <a href=""><i class="bi bi-linkedin"></i></a>

                  </div>

                </div>

                <div class="member-info">

                  <h4>Mr. Ashwin Agrawal</h4>

                  <span>Founder & Finace</span>

                </div>

              </div>

            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">

              <div class="member" data-aos="fade-up" data-aos-delay="100">

                <div class="member-img">

                  <img src="assets/img/team/ankit.jpg" class="img-fluid" alt="">

                  <div class="social">

                    <a href=""><i class="bi bi-twitter"></i></a>

                    <a href=""><i class="bi bi-facebook"></i></a>

                    <a href=""><i class="bi bi-instagram"></i></a>

                    <a href=""><i class="bi bi-linkedin"></i></a>

                  </div>

                </div>

                <div class="member-info">

                  <h4>Mr. Ankit Agrawal</h4>

                  <span>Founder & Global Sales Head</span>

                </div>

              </div>

            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">

              <div class="member" data-aos="fade-up" data-aos-delay="100">

                <div class="member-img">

                  <img src="assets/img/team/Amit.jpg" class="img-fluid" alt="">

                  <div class="social">

                    <a href=""><i class="bi bi-twitter"></i></a>

                    <a href=""><i class="bi bi-facebook"></i></a>

                    <a href=""><i class="bi bi-instagram"></i></a>

                    <a href=""><i class="bi bi-linkedin"></i></a>

                  </div>

                </div>

                <div class="member-info">

                  <h4>Mr. Amit Dhanotia</h4>

                  <span>Founder & Administration Head</span>

                </div>

              </div>

            </div>





          </div>





        </div>

    </section> -->
    <!-- End Team Section -->
    <!-- ======= Contact Section ======= -->

    <section id="contact" class="contact">

        <div class="container" data-aos="fade-up">



            <div class="section-title">

                <h2>Contact</h2>

                <p>Contact Us</p>

            </div>



            <div>

                <!-- <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.143937215715!2d75.88229241443672!3d22.72289083316494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962e2cbd98f0bf7%3A0xbafbbde339deec8a!2sWebSphere Innovations!5e0!3m2!1sen!2sin!4v1545215344810" frameborder="0" allowfullscreen></iframe> -->



            </div>



            <div class="row mt-5">

                <div class="col-lg-4">

                    <div class="info">

                        <div class="address">

                            <!-- <i class="bi bi-geo-alt"></i> -->
                            <!-- <h4>Location:</h4>



                                      </div>



                                      <div class="email">

                                          <i class="bi bi-envelope"></i>

                                          <h4>Email:</h4>

                                          <p>websphere@websphereinnovations.in</p>
                                           <p>info@websphereinnovations.in</p>


                                      </div>



                                      <div class="phone">

                                          <i class="bi bi-phone"></i>

                                          <h4>Call:</h4>

                                          <p>+917030720478 </p>
                                          <p>+917350030029</p>

                                      </div>

                                      <!-- <div class="phone">

                              <i class="bi bi-phone"></i>

                              <h4>Call:</h4>

                              <p>+91-7879722442 </p>

                            </div> -->

                        </div>

                    </div>



                    <div class="col-lg-8 mt-5 mt-lg-0">



                        <form action="PHPMailer/contact.php" method="post" role="form">



                            <div class="row">
                                <!-- <div class="loading">Loading</div>



                                <div class="error-message"></div>



                                <div class="sent-message">Your message has been sent. Thank you!</div> -->



                            </div>



                            <input type="submit" name="b1" class="btn btn-warning" value="Send Message" style="display: none;">



                        </form>



                    </div>



                </div>



            </div>



            <!--End Contact Section-->
            <!-- End #main -->
            <!-- ======= Footer ======= -->

            <footer id="footer">

                <div class="footer-top">

                    <div class="container mt-4">

                        <div class="row">



                            <div class="col-lg-3 col-md-3">

                                <div class="footer-info">

                                    <h3>WebSphere Innovations<span></span></h3>

                                    <p>


                                        <strong>Phone:</strong>+91-7030720478<br>
                                        <strong>Phone:</strong>+91-7350030029<br>


                                        <!-- <strong>Phone:</strong>  +91-7879722442<br> -->

                                        <strong>Email:</strong> websphere@websphereinnovations.in<br>

                                    </p>

                                    <div class="social-links mt-3">


                                        <a href="" class="facebook"><i class="bx bxl-facebook"></i></a>

                                        <!-- <a href="" class="instagram"><i class="bx bxl-instagram"></i></a> -->


                                        <a href="" class="linkedin"><i class="bx bxl-linkedin"></i></a>

                                    </div>

                                </div>

                            </div>



                            <div class="col-lg-3 col-md-3 footer-links">

                                <h4>Useful Links</h4>

                                <ul>

                                    <li><i class="bx bx-chevron-right"></i> Home</li>

                                    <li><i class="bx bx-chevron-right"></i> About us</li>

                                    <li><i class="bx bx-chevron-right"></i>Services</li>

                                    <li><i class="bx bx-chevron-right"></i>Career</li>

                                    <li><i class="bx bx-chevron-right"></i> Contact Us</li>

                                    <li><i class="bx bx-chevron-right"></i>Registration</li>



                                </ul>

                            </div>

                            <div class="col-lg-3 col-md-3 footer-links">

                                <h4>Useful Links</h4>

                                <ul>

                                    <li><i class="bx bx-chevron-right"></i> SEO</li>

                                    <li><i class="bx bx-chevron-right"></i> Quality Assurance </li>

                                    <li><i class="bx bx-chevron-right"></i> Services</li>

                                    <li><i class="bx bx-chevron-right"></i> Project Management</li>

                                    <li><i class="bx bx-chevron-right"></i>Software Development </li>

                                    <li><i class="bx bx-chevron-right"></i>Web Design</li>

                                    <li><i class="bx bx-chevron-right"></i> FAQ's</li>



                                </ul>

                            </div>







                            <div class="col-lg-3 col-md-3 footer-newsletter">
                            </div>



                        </div>

                    </div>

                </div>



                <div class="container">

                    <div class="copyright">

                        &copy; Copyright <strong><span>WebSphere Innovations</span></strong> . All Rights Reserved

                    </div>

                    <div class="credits">

                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->

                        <a>A Software & Website Development Company</a>

                    </div>

                </div>

            </footer>
            <!-- End Footer -->



            <div id="preloader"></div>

            <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



            <!-- Vendor JS Files -->

            <script src="assets/vendor/aos/aos.js"></script>

            <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

            <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

            <script src="assets/vendor/php-email-form/validate.js"></script>

            <script src="assets/vendor/purecounter/purecounter.js"></script>

            <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>



            <!-- Template Main JS File -->

            <script src="assets/js/main.js"></script>
